<div class="w-25 p-5 m-5">
  <h3 class="my-3">編集画面</h3>
  <%= form_with model:@book,url:book_path,local:true,method: :patch do |f| %>
    <%= f.label:title %>
    <%= f.text_field:title,class:"form-control" %>
    <%= f.label:body %>
    <%= f.text_field:body,class:"form-control" %>
    <%= f.label:image %>
    <%= f.attachment_field:image %>
    <%= f.submit "変更",class:"btn btn-primary btn-sm mt-3" %>
  <% end %>
</div>