<div class="book_top">
  <div class="new_book">
    <%= form_with model:@book,local:true do |f| %>
      <%= f.label:title %>
      <%= f.text_field:title,placeholder:"タイトルを入力",class:"form-control" %>
      <%= f.label:body %>
      <%= f.text_field:body,placeholder:"詳細を入力",class:"form-control" %>
      <%= f.label:image %><br>
      <%= f.attachment_field:image %>
      <%= f.hidden_field:user_id,:value=>current_user.id %>
      <%= f.submit "投稿する",class:"btn btn-primary" %>
    <% end %>
  </div>
  <div class="book_index">
    <% @books.each do |book| %>
      <div class="card" style="width: 200px;">
        <%= attachment_image_tag book,:image,size:"200x250",fallback:"noimage.png",class:"bd-placeholder-img card-img-top w-100" %>
        <div class="card-body">
          <h5 class="card-text"><%= book.title %></h5>
          <p class="card-text"><%= book.body %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>