<div class="book_top">
  <div class="new_book">
    <div class="card" style="width: 400px;">
      <%= attachment_image_tag @book,:image,size:"400x450",fallback:"noimage.png",class:"bd-placeholder-img card-img-top w-100" %>
      <div class="card-body">
        <h5 class="card-text"><%= @book.title %></h5>
        <p class="card-text"><%= @book.body %></p>
        <span class="fav_btn">
          <%= render "favorites/fav_btn", book:@book %>
        </span>
        <% if @book.user_id==current_user.id %>
          <%= link_to "削除",book_path(@book.id),method: :delete,class:"btn btn-danger btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="book_show">
    <div class="comment-index">
      <% if @book.comments.exists? %>
        <% @book.comments.each do |comment| %>
          <div class="comment">
            <%= comment.created_at.strftime("%F") %><br>
            <%= comment.comment %>
          </div>
        <% end %>
      <% else %>
        <p>コメントはまだありません</p>
      <% end %>
    </div>
    <div class="new-comment">
      <%= form_with model:@comment,url:book_comments_path(@book.id),local:true do |f| %>
        <%= f.text_field:comment %>
        <%= f.submit "コメントする" %>
      <% end %>
    </div>
  </div>
</div>